@model IEnumerable<TDC.Models.Reflection>

@{
    ViewBag.Title = "ReflectionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-8 col-xs-push-2">
        <div class="panel box-shadows-rock" style="padding: 10px 10px 10px 10px">
            <h2 class="text-center" style="color:#FFFFFF; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Reflection</h2>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New Reflection", "Create", "List", null, new { @class = "btn btn-default" })
</p>
<table class="table table-bordered table-responsive table-striped" style="background-color:#FFFFFF" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Affil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Affil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
        </tr>
    }

</table>
