
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Global Stats</h2>


<h3>Most Money</h3>
<table class="table table-bordered table-responsive table-striped  ">
    <tr>
        <th width="100px">
            Number
        </th>
        <th width="100px">
            Team
        </th>
        <th width="100px">
            Total
        </th>
    </tr>

    @{int i = 0;}
    @foreach (var x in ViewBag.teamMoney)
    {
        <tr>
        <td>
            @{i = i + 1;}
            @i
        </td>
        <td>
            @x.teamName
        </td>
        <td>
            @x.amt
        </td>
    </tr>
    }
    </table>
    <h3>Most Popular Product</h3>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th width="100px">
            Number
        </th>
        <th width="100px">
            Team
        </th>
        <th width="100px">
            Total
        </th>
    </tr>

    @{ i = 0;}
    @foreach (var x in ViewBag.teamTotal)
    {
        <tr>
            <td>
                @{i = i + 1;}
                @i
            </td>
            <td>
                @x.teamName
            </td>
            <td>
                @x.amt
            </td>
        </tr>
    }
</table>
<h3>Largest Team</h3>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th width="100px">
            Number
        </th>
        <th width="100px">
            Team
        </th>
        <th width="100px">
            Total
        </th>
    </tr>

    @{ i = 0;}
    @foreach (var x in ViewBag.numOnTeams)
    {
        <tr>
            <td>
                @{i = i + 1; }
                @i
            </td>
            <td>
                @x.teamName
            </td>
            <td>
                @x.amt
            </td>
        </tr>
    }
</table>
