@using TDC.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="row">
    <div class="col-xs-8 col-xs-push-2">
        <div class="panel box-shadows-rock" style="padding: 10px 10px 10px 10px">
            <h2 class="text-center" style="color:#A62900; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@ViewBag.Title</h2>
        </div>
    </div>
</div>
@Html.ActionLink("Adjust Balance", "AdjustCash", null, new { @class = "btn btn-default" })
@Html.ActionLink("Change Difficulty", "ChangeDifficulty", null, new { @class = "btn btn-default" })
@Html.ActionLink("Opt Out of Notifications", "OptOut", null, new { @class = "btn btn-default" })

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    @*<section id="externalLogins">
        @Html.Action("RemoveAccountList")
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>*@
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
